

<div class="col-xs-12 coffeeframe" style=>
</div>
<p><%= image_tag("cmacchiato.jpg", :alt => 'coffee feed', :class => 'macchiato') %></p>
<p>
  <section class="drink-name">
  <ul>
    <li><em style=
    "position: absolute;   margin-top: 410px;   margin-left: -735px;">
Caramel Macchiato</em></li>
    <li><em style="position: absolute; margin-top: 410px; margin-left: -864px">25 Jugong-ro, Sacheon, Gyeongsangnam-do, South Korea</em></li>
    <li><en style="position: absolute; margin-top: 411px; margin-left: -823px">Submitted by Todd Squitieri || South Korea</li>
  </ul>
</section></p>
<div class="col-xs-12 coffeeframe" style="background-color: red;">
</div>
